* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background:
	linear-gradient(
		rgb(4, 51, 62),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(51, 140, 175),
		transparent
	),
	linear-gradient(
		-90deg,
		rgb(20, 128, 161),
		transparent
	);
	
background-blend-mode: screen;
}

.logo {
    font-weight: 400;
    color: #E5E7EB;
    font-size: 30px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 28px;
}

.hero-segment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background:
	linear-gradient(
		rgb(91, 209, 239),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(230, 230, 230),
		transparent
	),
	linear-gradient(
		-90deg,
		rgb(244, 253, 255),
		transparent
	);

	
background-blend-mode: screen;
border-bottom: rgb(163, 214, 240) 8px;
border-style: solid;
border-top: 0;
border-left: 0;
border-right: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 18px;
    text-align: center;
    font-size: 36px;
}

.hero-segment > img {
    border-radius: 10px;
}

.button {
    background-color: rgb(91, 209, 239);
    background:
	linear-gradient(
		rgb(239, 241, 242),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(120, 216, 254),
		transparent
	),
	linear-gradient(
		-90deg,
		rgb(39, 204, 255),
		transparent
	);
    padding: 14px;
    size: 24px;
    font-size: large;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    }

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.video-segment {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    border: black;
}

.video-segment > h2 {
    align-self: center;
    padding: 30px;
}

.listen {
    background:
	linear-gradient(
		rgb(209, 220, 223),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(230, 230, 230),
		transparent
	),
	linear-gradient(
		-90deg,
		rgb(244, 253, 255),
		transparent
	);
	
background-blend-mode: screen;
}

footer {
    display: flex;
    justify-content: center;
    padding: 60px;
    background:
	linear-gradient(
		rgb(209, 220, 223),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(230, 230, 230),
		transparent
	),
	linear-gradient(
		-90deg,
		rgb(244, 253, 255),
		transparent
	);
	
background-blend-mode: screen;
border-top: rgb(163, 214, 240) 8px;
border-style: solid;
border-bottom: 0;
border-left: 0;
border-right: 0;
font-size: 24px;
}

.inner-nav {
    padding: 20px;
    gap: 50px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container {
    position: relative;
    width: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
  
  .container img {
    width: 290px;
    height: 160px;
    border-radius: 10px;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f4f6f7;
    color: rgba(2, 2, 2, 0.975);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  }

  .break {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: black 2px;
    border-style: line;
  }

 .break > p {
    font-size: 20px;
    max-width: 300px;
    text-align: center;
    margin-bottom: 22px;
    text-wrap: wrap;
 }